@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-100: #dbeafe;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-900: #1e3a8a;

  --color-dark-bg: #061a1a;
  --color-dark-surface: #1e293b;
  --color-dark-border: #334155;
  
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark-bg);
    color: #e2e8f0;
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
  }
}
